<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!-- <h1 class="m-0">Dashboard</h1> -->
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Détail d'une demande</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!DOCTYPE html>
<html>
<head>
<title>Payment</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<main class="page payment-page">
  <section class="payment-form dark">
    <div class="container">
      <form [formGroup]="detailForm">
        <button type="button" class="btn btn-danger" (click)="showdemande()">Demande de renfort</button>
        &nbsp;&nbsp;
        <div *ngIf="show_demaande">
        <div class="products">
          <!-- <h4 class="title">Demande de renfort</h4> -->
          <div class="row">
          <div class="form-group col-sm-7">
              <label for="card-holder">Réference</label>
              <input id="card-holder"  formControlName="reference" name="reference" type="text" class="form-control" placeholder="reference" aria-label="reference" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-5">
              <label for="">Date de creation</label>
              <div class="input-group expiration-date">
                <input type="text" formControlName="date_creation" name="date_creation" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                <!-- <span class="date-separator">/</span> -->
                <!-- <input type="text" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1"> -->
              </div>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-7">
              <label for="card-holder">Demandeur</label>
              <input id="card-holder" formControlName="demandeur" name="demandeur" type="text" class="form-control" placeholder="demandeur" aria-label="demandeur" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-5">
              <label for="">Societe</label>
              <div class="input-group expiration-date">
                <input type="text"   formControlName="code_societe" name="code_societe" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">
                <!-- <span class="date-separator">/</span> -->
                <!-- <input type="text" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1"> -->
              </div>
            </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-7">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Etablissement</label>
                <input type="text"   formControlName="id_etab" name="id_etab" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

              </div>

              <div class="form-group col-sm-5">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Unite organisationnelle</label>
                  <input type="text"   formControlName="id_unite" name="id_unite" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

            </div>

              </div>
          <div class="total">
              <div class="row">
                  <div class="form-group col-sm-3">
                      <label class="mr-sm-2" for="inlineFormCustomSelect">Motif</label>
                  <input type="text"   formControlName="motif" name="motif" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

                </div>

                <div class="form-group col-sm-3">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Poste</label>
                  <input type="text"   formControlName="poste" name="poste" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

            </div>

            <div class="form-group col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Profil</label>
              <input type="text"   formControlName="profil" name="profil" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

              </div>
              </div>
          </div>

          <div class="row">
              <div class="form-group col-sm-7">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Nature de demande</label>
              <input type="text"   formControlName="natureDedemande" name="natureDedemande" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

            </div>

            <div class="form-group col-sm-5">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Régime horaire</label>
              <input type="text"   formControlName="regimeHoraire" name="regimeHoraire" class="form-control" placeholder="societe" aria-label="MM" aria-describedby="basic-addon1">

          </div>

            </div>

            <div class="row">
              <div class="form-group col-sm-7">
                  <label for="">Effectif</label>
              <div class="input-group expiration-date">
                <input type="text" formControlName="effectifdemande" name="effectifdemande" class="form-control" placeholder="effectif" aria-label="MM" aria-describedby="basic-addon1">
              </div>
            </div>

            <div class="form-group col-sm-5">
              <label for="">Sexe</label>
              <div class="input-group expiration-date">
                  <input class="form-control" formControlName="sexe" name="sexe" type="text"  id="flexRadioDefault1">

                </div>



          </div>

            </div>

            <div class="total">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Nature de mission</label>
                  <textarea class="form-control" formControlName="natureDeMission" name="natureDeMission" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

            </div>
            <div class="row">
              <div class="form-group col-sm-7">
                  <label for="card-holder">Période</label>
                  <input id="card-holder" formControlName="DebutDeLaMission" name="DebutDeLaMission"  type="text" class="form-control" placeholder="" aria-label="reference" aria-describedby="basic-addon1">
                </div>
                <div class="form-group col-sm-5">
                  <label for="">Au</label>
                  <div>
                    <input type="text" class="form-control" formControlName="FinDeLaMission" name="FinDeLaMission" placeholder="MM"  aria-describedby="basic-addon1">
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-7">
                      <label for="card-holder">Personne à contacter</label>
                      <input id="card-holder" type="text" formControlName="personneAcontacter" name="personneAcontacter" class="form-control" placeholder="Personne à contacter" aria-label="reference" aria-describedby="basic-addon1">
                    </div>
                    <div class="form-group col-sm-5">
                      <label for="">Heure de début</label>
                      <div class="input-group expiration-date">
                        <input type="heure" class="form-control" formControlName="heureDebut" name="heureDebut" placeholder="00" aria-label="MM" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">AvisH1</label>
                      <textarea class="form-control" formControlName="avisH1" name="avisH1" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">AvisH2</label>
                      <textarea class="form-control" formControlName="avisH2" name="avisH2" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    </div>
                  </div>
                    <button type="button" class="btn btn-danger" (click)="showdecision()">Décision</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="addnotification()">Avis Hiérarchie</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" routerLink="/home/liste" (click)="showdecision()">Rejeter</button>

                  <div *ngIf="show_decision">
                    <div class="form-group">
                      <div class="row">
                        <div class="form-group col-sm-7">
                          <!-- <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label">Avis hiérarchie</label>
                          </div> -->
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="form-group col-sm-7">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1" checked="">
                            <label class="form-check-label">Rejeter</label>
                          </div>
                        </div>
                        <div class="form-group col-sm-5">
                          <a href="">Consultation pointage</a>
                        </div>
                      </div> -->
                      <div class="row">
                      <div class="form-check  col-sm-7">
                        <input class="form-check-input" type="radio" name="radio1">
                        <label class="form-check-label">Valider et envoyer bon de commande</label>
                      </div>
                      <div class="form-group col-sm-5">
                        <label class="form-check-label">Budget</label>
                        &nbsp;&nbsp;
                        <label class="form-check-label">{{userconnect.etab.budget.montant}}</label>
                      </div>
                    </div>
                    </div>
                  </div>
                   &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="showcommande();getheuretheorique()">Bon de commande</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="open(content)">Affectation interimaire</button>
               <div *ngIf="show_commande">
                    <!-- <div class="row">
                    </div> -->

                    <div class="row">
                      <div class="form-group col-sm-7">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Prestataire</label>
                        <select class="custom-select mr-sm-2" (change)="getheuretheorique1()" formControlName="prestataire" name="prestataire">
                          <option  *ngFor="let p of listprestataire" [value]="p.id">{{p.siege_social}}</option>
                        </select>
                      </div>

                      <!-- <div class="form-group col-sm-5">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Cout horaire</label>
                        <select class="custom-select mr-sm-2 " id="inlineFormCustomSelect">
                          <option selected>Choose...</option>
                          <option value="1">2240</option>
                          <option value="2">5436</option>
                        </select>
                      </div> -->

                    </div>

                    <!-- <div class="row"> -->
                      <!-- <div class="form-group col-sm-7">
                        <label for="card-holder">Numero Commande</label>
                        <input id="card-holder" type="text" class="form-control" placeholder="numero commande"
                          aria-label="numero" aria-describedby="basic-addon1">
                      </div> -->

                    <!-- </div> -->
                    <!-- <div class="row">
                      <div class="form-group col-sm-7">
                        <label for="formGroupExampleInput" class="form-label">Nbre jrs de repos</label>
                        &nbsp;&nbsp;
                        <label class="form-label">12</label>
                      </div>
                      <div class="form-group col-sm-5">
                        <label for="formGroupExampleInput" class="form-label">Nbre jrs théoriques</label>
                        &nbsp;&nbsp;
                        <label class="form-label">81</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-7">
                        <label for="formGroupExampleInput" class="form-label">Nbre hrs théoriques</label>
                        &nbsp;&nbsp;
                        <label class="form-label">684</label>
                      </div>
                      <div class="form-group col-sm-5">
                        <label for="formGroupExampleInput" class="form-label">Dépense théoriques</label>
                        &nbsp;&nbsp;
                        <label class="form-label">1451.520</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-7">
                        <label for="formGroupExampleInput" class="form-label">Nbre hrs réelles</label>
                        &nbsp;&nbsp;
                        <label class="form-label">624</label>
                      </div>
                      <div class="form-group col-sm-5">
                        <label for="formGroupExampleInput" class="form-label">Dépense réelles</label>
                        &nbsp;&nbsp;
                        <label class="form-label">1397.720</label>
                      </div>
                    </div> -->

                  </div>

      <form [formGroup]="commandeForm">


        <div *ngIf="show_commande">
          <div class="row">
          <div  class="form-group col-sm-2">
            <label for="">Annee commande</label>
            <div class="input-group expiration-date">
             <input type="text" class="form-control" formControlName="annee" name="annee" aria-label="MM" aria-describedby="basic-addon1">
          </div>
          </div>


          </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                          aria-describedby="example1_info">
                          <thead>
                            <tr role="row">
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Mois
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Browser: activate to sort column ascending">Heures théoriques</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Dépense théorique</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Engine version: activate to sort column ascending">Heures réelles</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="CSS grade: activate to sort column ascending">Dépense réel</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="odd">
                              <td class="dtr-control sorting_1" tabindex="0">
                    <input type="text" class="form-control" formControlName="mois" name="mois" placeholder="Mois"  aria-describedby="basic-addon1">
                             </td>
                             <td>
                             <input type="text" class="form-control" formControlName="heuretheorique" name="heuretheorique" placeholder="Heure"  aria-describedby="basic-addon1">
                             </td>
                              <td>
                             <input type="text" class="form-control" formControlName="depensetheorique" name="depensetheorique" placeholder="depense"  aria-describedby="basic-addon1">
                              </td>
                              <td>
                             <input type="text" class="form-control" formControlName="heurereel" name="heurereel" placeholder="heure"  aria-describedby="basic-addon1">

                              </td>
                              <td>
                             <input type="text" class="form-control" formControlName="depensereel" name="depensereel" placeholder="depense"  aria-describedby="basic-addon1">

                              </td>
                            </tr>


                          </tbody>
                          <tfoot>

                          </tfoot>
                        </table>
                      </div>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-primary" (click)="savecommande()">Enregistrer</button>
                      &nbsp;&nbsp;
                      <button type="button" class="btn btn-secondary">Quitter</button>
                    </div>
                  </div>
      </form>
       <!-- <div class="text-right">
          <button type="button" class="btn btn-danger">Rejeter</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Envoyer à GRH</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary">Quitter</button>
      </div>  -->
      </form>
    </div>
  </section>
</main>
</body>
</html>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Affectation Interimaire</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="detailForm">
      <div class="row">
    <div class="form-group col-sm-5">
      <label for="card-holder">Demande</label>
      <input id="card-holder"  formControlName="id" name="id" type="text" class="form-control" placeholder="reference" aria-label="reference" aria-describedby="basic-addon1">
    </div>
  </div>
    </form>
    <form [formGroup]="interimaireForm">
      <div class="form-group">
        <div class="row">
            <div class="form-group col-sm-7">
              <label for="">Titre Affectation</label>
              <div class="input-group expiration-date">
                <input type="text" formControlName="titre" name="titre" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
              </div>
            </div>
            <!-- <div class="form-group col-sm-5">
              <label for="">Heure travail</label>
              <div class="input-group expiration-date">
                <input type="text" formControlName="heure" name="heure" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
              </div>
            </div> -->
            </div>
            <div class="row">
              <div class="form-group col-sm-7">
                  <label for="card-holder">Date affectation</label>
                  <input id="card-holder"  formControlName="date_affectation" name="date_affectation" type="date" class="form-control" placeholder="reference" aria-label="reference" aria-describedby="basic-addon1">
                </div>
                <div class="form-group col-sm-5">
                  <label for="">Date fin mission</label>
                  <div class="input-group expiration-date">
                    <input type="date" formControlName="date_fin_mission" name="date_fin_mission" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                  </div>
                </div>
                </div>

        <div class="row">
        <label for="dateOfBirth">intérimaires</label>
        <div class="input-group">
          <select class="custom-select mr-sm-2" formControlName="interimaire" name="interimaire">
            <option  *ngFor="let i of listinterimaire" [value]="i.id">{{i.nom}}</option>
            </select>
        </div>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveinterimaire()" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<hr>

<pre>{{ closeResult }}</pre>
